/* Color the status text in the status changer popout */

div[class="item__183e8 colorDefault__0b482"][id="account-status-picker--online"] > div[class="statusItem__72404"] > div[class="status__8c19b"] {
  color: var(--rs-online-color);
}

div[class="item__183e8 colorDefault__0b482"][id="account-status-picker--idle"] > div[class="statusItem__72404"] > div[class="status__8c19b"] {
  color: var(--rs-idle-color);
}

div[class="item__183e8 colorDefault__0b482"][id="account-status-picker--dnd"] > div[class="statusItem__72404"] > div[class="status__8c19b"] {
  color: var(--rs-dnd-color);
}

div[class="item__183e8 colorDefault__0b482"][id="account-status-picker--invisible"] > div[class="statusItem__72404"] > div[class="status__8c19b"] {
  color: var(--rs-invisible-color);
}
/*END*/
