/* Remove the phone indicator beside avatar */
foreignObject[mask="url(#svg-mask-avatar-status-mobile-32)"]::after {
  visibility: hidden !important;
}

#app-mount .wrapper__3ed10 foreignObject[mask*=mobile]:after {
  display: none;
}

#app-mount .wrapper__3ed10 foreignObject[mask*=mobile][width="80"]:after {
  display: none;
}
